.grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-gap: 1.5rem;
}

.playlist__songs_title-bar{
    padding-top: 1.5rem;
}


.playlist-definition-bar {
    display: grid;
    grid-template-columns: .2fr 2fr 1.5fr .8fr ;
    align-items: center;
    opacity: .6;
    font-size: 13px;
    padding-inline: 1rem;
    /* margin-bottom: 1.5rem; */
}

.playlist-definition-bar__bottomBorder {
    margin-top: 0.5rem;
    border-bottom: 1px solid white;
    margin-bottom: 1.5rem;
    opacity: 0.5;
}


.playlist-definition-bar__time {
    justify-self: center;
}

.playlist-definition-bar__time svg {
    width: 1.3rem !important;
}

.playlist-definition-bar__title {
    margin-left: 10px;
}
.playlist-definition-bar__album{}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SONG ROW MOBILE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:991px) {
    .playlist-definition-bar {
        grid-template-columns: .2fr 2fr .7fr;
    }

    .playlist-definition-bar__album {
        display: none;
    }
}
@media screen and (max-width:780px) {
    .playlist-definition-bar {
        grid-template-columns: 2fr .7fr ;
    }
    .playlist-definition-bar__index{
        display: none;
    }

    /* .playlist-definition-bar__album {
        display: none;
    } */
}