.skeleton_artist_header{
    height: 40vh;
        /* background: linear-gradient(45deg, white, transparent); */
    padding: 2rem;
    display: flex;
    gap: 2rem;
}


.skeleton_artist_header__cover-img{
    border-radius: 50%;
    aspect-ratio: 1/1;
    /* border: 1px solid white; */
    filter: drop-shadow(4px 4px 10px black);
}

.skeleton_artist_header__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.skeleton_artist_header__sub-heading{
    width: 10vw;
    height: 20px;
}


.skeleton_artist_header__heading{
    width: 35vw;
    height: 50px;
    margin-top: .5rem; 
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MOBILE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width: 550px) and (max-width: 991px) {
    .skeleton_artist_header__sub-heading {
        width: 20vw;
        height: 20px;
    }

    .skeleton_artist_header__heading {
        width: 45vw;
        height: 40px;
    }

}


@media screen and (max-width: 550px) {
    .skeleton_artist_header {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        justify-content: center;
    }

    .skeleton_artist_header__cover-img {
        width: 25vh;
        height: 25vh;
    }

    .skeleton_artist_header__heading {
        width: 60vw;
        height: 40px;
    }

    .skeleton_artist_header__sub-heading,
    .skeleton_artist_header__description {
        display: none;
    }
}