.artist-row {
    display: grid;
    grid-template-columns: .2fr 2fr 0.3fr 0.3fr .2fr;
    align-items: center;
    padding: 1rem;
    /* margin-bottom: .3rem; */
}

.artist-row__index,
.justify-self-center {
    justify-self: center;
}

.artist-row__title {
    font-size: 16px;
}

.artist-row__img {
    max-width: 40px;
    max-height: 40px;
    border: 1px solid white;
    /* border-radius: 2px; */
    /* overflow: hidden; */
}

.artist-row__options {}

.artist-row__songDetails {
    margin-left: .7rem;
}

.artist-row__artists {
    font-size: .8rem;
    margin-top: .5rem;
}

.artist-row__artistName {
    display: inline-block;

}

.artist-row__song {
    display: flex;
    align-items: center;
}

/* -----------low opacity ----------- */
.artist-row__artistSeparator,
.artist-row__time,
.artist-row__options,
.artist-row__index,
.artist-row__like {
    opacity: .6;
}

/* .artist-row__artist {
    font-size: .8rem;
    opacity: .8;
    padding-inline: 10px;
} */

/* ----------like button---------------- */
.artist-row__like,
.artist-row__likeSvg {
    transition: all .2s ease-in-out;
}

.artist-row__like:hover {
    opacity: 1;
}

.artist-row__like:hover .artist-row__likeSvg {
    opacity: 1;
    transform: scale(1.1);
}

.artist-row__liked .artist-row__likeSvgGreen {
    fill: var(--theme-color-like);
    opacity: 1;
}

.current-playing .artist-row__title {
    color: var(--theme-color);
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SONG ROW MOBILE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width:780px) and (max-width: 991px){
    .artist-row__songDetails{
        margin-left: 1.5rem;
    }
}

@media screen and (min-width: 501px) and (max-width:780px) {
    .artist-row {
        grid-template-columns: 1.9fr .2fr .2fr;
        padding: .6rem 1rem;
    }

    .artist-row__song{
        margin-left: 1rem;
    }
    .artist-row__songDetails {
        margin-left: 1rem;
    }
    .artist-row__index{
        display: none;
    }
    .artist-row__options{
        /* justify-self: flex-end; */
    }
    .artist-row__time {
        display: none;
    }
}

@media screen and (max-width:500px){
    .artist-row {
        grid-template-columns: 1.8fr .2fr;
        padding: .6rem 1rem;
    }
    .artist-row__like,
    .artist-row__liked,
    .artist-row__index {
        display: none;
    }
    .artist-row__song {
        margin-left: 1rem;
    }
    .artist-row__options {
        /* justify-self: flex-end; */
    }
    .artist-row__time {
        display: none;
    }
}


